html,
body {
  background-color: rgba(0, 0, 0, 1);
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: #fff;
  font-size: 18px;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
}

h1:after {
  display: block;
  content: "";
  border-bottom: 0.3em orange;
  width: 25%;
  height: 10px;
}

h1 {
  font-size: 2rem;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

h2 {
  font-size: 2rem;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

h3 {
  font-size: 1.5rem;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

p,
a,
span,
li {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

p {
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: #fff;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

a:hover {
  color: #f83600;
}

img {
  width: 100%;
  height: auto;
}

button {
  padding: 0.5em;
  background: transparent;
  width: 48%;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.content {
  background: rgb(14, 4, 1);
  background: linear-gradient(
    9deg,
    rgba(14, 4, 1, 0.5) 0%,
    rgba(46, 17, 8, 0.5) 35%,
    rgba(24, 5, 1, 0.5) 100%
  );
  color: #fff;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #eee;
}

.main {
  background: rgb(14, 4, 1);
  background: linear-gradient(
    9deg,
    rgba(14, 4, 1, 0.5) 0%,
    rgba(46, 17, 8, 0.5) 35%,
    rgba(24, 5, 1, 0.5) 100%
  );
  color: #fff;
  display: flex;
  width: 100%;
  border: solid 1px #eee;
  margin: 0 auto 0.5em;
  padding-left: 1.5em;
}

.main h1 {
  color: #f83600;
}

.heading {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.orange {
  color: #f83600;
  font-size: 1.5em;
}

.sub-heading {
  color: #f83600;
}

.profile {
  display: flex;
}

.profile-image {
  max-width: 300px;
}

.myImage {
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
  transform: rotate(-4deg);
  border: 0.3rem #f83600;
  border-style: dashed solid;
}
.sub-heading:after {
  display: block;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  padding: 0.1em;
  background: #ffffff;
  border-radius: 50%;
}

.sub-heading:after {
  margin-top: 0.2rem;
}

.heading:before,
.heading:after {
  display: block;
  content: "";
  height: 0.2rem;
  width: 15%;
  padding: 0.1em;
  margin: 0.5em;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, #f83600 30%, #f9d423 70%);
}

.work {
  border: solid 0.1em #f9d423;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9d423;
  border-radius: 0.5rem;
}

.work-link {
  color: #f9d423;
}

.me {
  list-style-type: lower-greek;
  list-style-position: outside;
  text-decoration: underline;
}

.offer {
  background: rgb(14, 4, 1);
  background: linear-gradient(
    9deg,
    rgba(14, 4, 1, 0.5) 0%,
    rgba(46, 17, 8, 0.5) 35%,
    rgba(24, 5, 1, 0.5) 100%
  );
  color: #fff;
  padding: 1em;
  margin-bottom: 0.5em;
  border-bottom: solid 0.2em #f83600;
  border-radius: 0.5rem;
}

.me:hover {
  cursor: pointer;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.intro p {

  background: rgb(14, 4, 1);
  background: linear-gradient(
          9deg,
          rgba(14, 4, 1, 0.5) 0%,
          rgba(46, 17, 8, 0.5) 35%,
          rgba(24, 5, 1, 0.5) 100%
  );
  -webkit-animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border-bottom: solid 0.2em #f83600;
  color: #ffffff;
  display: flex;
  padding: 0.8rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.3em;
}

.background {
  background: #fff;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: solid 0.1em #333;
}

.center {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.skills {
  list-style-type: none;
}

.icon {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  cursor: pointer;
  color: #f83600;
  transform: scale(1.2);
}

.skills li {
  display: inline;
  padding: 0.5em;
  margin: 1.5em;
  background: #fff;
}

.social {
  margin-top: 1em;
}

.social ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.social ul li {
  padding: 0.5em;
  max-width: 40px;
  margin: 0.5em;
}

.services {
  list-style-type: none;
  margin-left: 0;
}

.services li {
  border-left: solid 0.4em #ffe259;
  color: #333;
  padding: 0.5em;
}

span {
  color: #ff3737;
}

@media (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  main,
  .content {
    padding: 1rem;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 1rem;
  }

  .heading:before,
  .heading:after {
    display: block;
    content: "";
    height: 0.2rem;
    width: 8%;
    padding: 0.1em;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #f83600 30%, #f9d423 70%);
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile-image {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

@media (max-width: 320px) {
  h1 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
  main,
  .content {
    padding: 1rem;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 1rem;
  }
}

main {
  margin-bottom: 2em;
}

.content {
  padding: 1rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-18 21:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.body {
  padding: 1.5rem;
}
