:root {
  --border-radius: 0rem;
  --heading-color: #fff;
  --sub-heading-color: #ff99c8;
  --white: #fff;
  --padding: 1rem;
  --background: #1a1a2e;
  --content-background: rgba(14, 4, 5, 0.2);
  --secondary-color: #ff99c8;
  --primary-color: #007f5f;
  --box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --text-color: #b4a5a5;
}

html,
body {
  background-color: var(--background);
  color: var(--text-color);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  color: #fff;
  margin: 0.2rem;
}

h1 {
  color: var(--sub-heading-color);
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: fit-content;
  text-decoration: overline;
}

.names {
  display: flex;
  align-items: center;
}

.names h2 {
  margin-left: 1rem;
  width: fit-content;
  background: var(--content-background);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

.names p {
  margin-left: 1rem;
}

.sub-heading {
  color: var(--sub-heading-color);
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: fit-content;
  text-decoration: overline;
}

aside {
  height: fit-content;
  border-radius: var(--border-radius);
  flex: 1;
  padding: 1rem 1rem 1rem 0;
}

p,
a,
span,
li,
label {
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: var(--white);
  margin: 0.5rem;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

a:hover {
  color: var(--text-color);
}

img {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

ul {
  list-style-type: none;
  margin: none;
  padding: none;
}

button {
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem;
  border: none;
  width: 200px;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

button:hover {
  cursor: pointer;
}

.content {
  color: #fff;
  display: flex;
}

.yolo {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.heading {
  width: fit-content;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.orange {
  color: var(--text-color);
  font-size: 1.5em;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.profile p {
  width: 600px;
  margin-top: 1rem;
}

.note {
  margin-bottom: 1rem;
}

.control {
  justify-self: flex-end;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.control li {
  padding: 0.5rem;
  border-radius: 50%;
}

.control li:nth-child(1) {
  background: var(--content-background);
  color: var(--secondary-color);
}

.profile section {
  flex: 2;
}

.profile aside {
  width: 20%;
}

.options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.3em;
}

.background {
  background: #fff;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border: solid 0.1em #333;
}

.center {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.skills {
  list-style-type: none;
}

.filtered {
  display: flex;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.filter ul {
  list-style-type: none;
  margin-right: 0.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.demos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.demo {
  padding: 1rem;
  width: 49%;
  margin: 0.05rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--content-background);
}

.demo h4,
.other-heading {
  margin-right: 1.5rem;
  width: fit-content;
  background: var(--content-background);
  padding: 0.5rem;
  border-bottom: solid 0.15rem var(--content-background);
}

.demo h4:hover {
  cursor: pointer;
  border-bottom: solid 0.15rem var(--secondary-color);
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}

.icon:hover {
  cursor: pointer;
  color: #f9d423;
  transform: scale(1.2);
}

.services {
  list-style-type: none;
  margin-left: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  main,
  .content {
    padding: 0.5rem;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  h1 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
  main,
  .content {
    padding: 1rem;
    margin-bottom: 2em;
  }

  h1 {
    font-size: 1rem;
  }
}

main {
  margin-bottom: 2em;
}

.content {
  padding: 1rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-18 21:52:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.body {
  padding: 1rem;
}

.invalid {
  color: red;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.summary {
  display: flex;
}

.summary-left {
  flex: 1;
}

.custom-hr {
  margin: 1rem;
  background-color: var(--content-background);
  border-top: 1px dotted var(--content-background);
}

.profile-card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  display: flex;
  width: 250px;
  padding: 1rem;
}

.avatar img {
  margin-right: 0.5rem;
}
.period {
  color: var(--primary-color);
  font-size: inherit;
}

.up {
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.work {
  margin-left: 1rem;
}

.org {
  border-radius: var(--border-radius);
  margin-top: 1rem;
  color: #fff;
  box-shadow: var(--box-shadow);
  background: var(--content-background);
  border: solid 0.1rem var(--content-background);
  padding: 1rem;
}

.org:hover {
  border-bottom: solid 0.15rem var(--primary-color);
}

.cur {
  background: var(--primary-color);
}

.duration {
  width: fit-content;
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  color: var(--secondary-color);
}

.org-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
}

.social li {
  margin-right: 1.5rem;
  width: fit-content;
  background: var(--content-background);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  border-bottom: solid 0.15rem var(--content-background);
}

.social li:hover {
  border-bottom: solid 0.15rem var(--secondary-color);
}

.inverted {
  border-bottom: solid 0.15rem #bc6ff1;
  width: fit-content;
}

.comp {
  display: flex;
  flex-direction: column;
}

.comp p {
  justify-self: center;
}
