  .articleSummary {
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  -webkit-animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex;
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: rgba(14, 4, 5, 0.2);
  }


.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tag {
  background: #184d47;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  color: #fff;
}

.title:hover {
  cursor: pointer;
}
