.content {
  display: flex;
}


.user {
  display: flex;
}

.message {
  outline: none;
  resize: none;
  width: 98%;
  height: 120px;
  border: 2px solid #cccccc;
  padding: 10px;
  margin-bottom: 1.5em;
}

.user input[type="text"], .user input[type="email"], .subject {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  width: 350px;
  outline: none;
  border: 2px solid #cccccc;
  padding: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}
.form {
  margin: 0;

}


.form label {
    color: #f83600;
  }
