.content {
  display: flex;
}


.user {
  display: flex;
}

.message {
  outline: none;
  resize: none;
  width: 98%;
  height: 120px;
  border: 2px solid #cccccc;
  padding: 10px;
  margin-bottom: 0.5em;
}

.user input[type="text"], .subject {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  outline: none;
  border: 2px solid #cccccc;
  padding: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}
.form {
  width: 300px;
}
