.title {
  font-size: 1.2rem;
  color: #f83600;

}

.number {
  font-size: 1.2rem;
  color: #ffe259;
}

.project {
  margin-bottom: 0.2rem;
}

@media (min-width: 300px) and (max-width: 480px) {
  .project {
    margin-bottom: 0.5rem;
    background: rgb(14, 4, 1);
    background: linear-gradient(
      9deg,
      rgba(14, 4, 1, 0.5) 0%,
      rgba(46, 17, 8, 0.5) 35%,
      rgba(24, 5, 1, 0.5) 100%
    );
    -webkit-animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    border-bottom: solid 0.2em #f83600;
    color: white;
    width: 100%;
    display: flex;
    padding: 0.9em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .button {
    border: solid 0.1rem #ffe259;
    border-radius: 0.5rem;
    color: #ffe259;
    width: 200px;
    margin-bottom: 0.4rem;
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
  }

  .rightImage {
    display: none;
  }
}

.button {
  border: solid 0.1rem #ffe259;
  border-radius: 0.5rem;
  color: #ffe259;
  width: 200px;
  display: flex;
  padding: 0.2rem;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project {
    background: rgba(14, 4, 5, 0.5);
    -webkit-animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    border-bottom: solid 0.1rem #ffe259;
    color: white;
    width: 100%;
    margin: 0.2rem;
    display: flex;
    padding: 0.9em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@media (min-width: 1024px) {
  .project {
    background: rgba(14, 4, 5, 0.5);
    -webkit-animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-tl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    color: #ffffff;
    width: 48%;
    margin: 0.5rem;
    padding: 1rem;
    border: solid 0.1rem #ffffff;
  }

  .project h4 {
    color: #ffe259;
    text-decoration: underline;
  }

  .project h4:after {
    display: block;
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    padding: 0.1em;
    background: #ffffff;
    border-radius: 50%;
  }

  .project h4:after {
    margin-top: 0.2rem;
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
  }

  .imageWrapper {
    display: flex;
  }

  .image {
    height: auto;
    max-width: 100%;
    border-radius: inherit;
  }
}

.projectList {
  display: flex;
  flex-wrap: wrap;
}

.projectImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  max-width: 300px;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.right {
  flex: 2;
  margin: 1rem;
}

.rightImage {
  -webkit-box-shadow: inset 6px 16px 0px 16px rgba(248,54,0,1);
  -moz-box-shadow: inset 6px 16px 0px 16px rgba(248,54,0,1);
  box-shadow: inset 6px 16px 0px 16px rgba(248,54,0,1);
  padding-left: 0.2rem;
  padding-bottom: 0.2rem;
}

.points {
  list-style-type: lower-greek;
  list-style-position: outside;
  width: 300px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.point {

}

.skillList {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background: transparent;
  border-radius: 0.5rem;
  margin-right: 0.2rem;
  padding: 0.2rem;
  color: #fff;
  border: solid 0.1rem #f83600;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type="text"] {
  padding: 0.5em;
}

form {
  padding: 1em;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options li {
  padding-right: 0.5em;
}


.icon {

  color: #f9d423;
}
